/*  your css code here. If applicable */
.container{
	background-color: lightgray;
	border: 2px solid black;
	height: 200px;
	align-items: center;
	border-radius: 20px;
	display: flex;
	justify-content: center;
}

.red{
	text-align: center;
	background-color: red;
	border: 2px solid red;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	padding: 0px;
	margin: 10px;
}

.yellow{
	text-align: center;
	background-color: yellow;
	border: 2px solid yellow;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	padding: 0px;
	margin: 10px;
}

.green{
	text-align: center;
	background-color: green;
	border: 2px solid green;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	padding: 0px;
	margin: 10px;
}